---
import Sidebar from '../components/Sidebar.astro';
import { Player } from '../components/Reproductor.jsx';
import '../styles/global.css'; 

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Orbit Player" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-black text-white h-screen overflow-hidden">
		<div class="h-full grid grid-cols-[350px_1fr] grid-rows-[1fr_90px] gap-2 p-2">
			
			<Sidebar />

			<main class="bg-zinc-900 rounded-lg overflow-y-auto w-full relative">
				<slot />
			</main>

			<footer class="col-span-2 h-[90px]">
				<Player client:load />
			</footer>

		</div>
	</body>
</html>